<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-3">
      <%= simple_form_for @equipment do |f| %>
        <%= f.input :model %>
        <%= f.input :kind %>
        <%= f.input :request, as: :hidden, input_html: { value: 'true' } %>
        <%= f.input :lab_owner_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.button :submit, 'Add new request' %>
      <% end %>
    </div>
    <div class="col-md-6">
        <h2>New Equipment requests</h2>
        <table class="table table-hover" id="equipment-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <%= render @requests %>
            </tbody>
        </table>
    </div>
</div>
<br />
<hr>

<div class="row">
    <div class="col-md-6">
        <h2>Receive requests</h2>
        <table class="table table-hover" id="move-requests-table">
            <thead>
                <tr>
                    <th>Equipment #</th>
                    <th>From Lab Owner</th>
                    <th>To Lab Owner</th>
                    <th>HOD Approval Status</th>
                    <th>Receiver Lab Owner Approval Status</th>
                </tr>
            </thead>
            <tbody>
                <%= render @receive_requests %>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-hover" id="move-requests-table">
            <h2>Send requests</h2>
            <thead>
                <tr>
                    <th>Equipment #</th>
                    <th>From Lab Owner</th>
                    <th>To Lab Owner</th>
                    <th>HOD Approval Status</th>
                    <th>Receiver Lab Owner Approval Status</th>
                </tr>
            </thead>
            <tbody>
                <%= render @send_requests %>
            </tbody>
        </table>
    </div>
</div>