<h1>Dashboard</h1>
<div class="row">
    <div class="col-md-3">
      <%= simple_form_for @equipment do |f| %>
        <%= f.input :model %>
        <%= f.input :kind %>
        <%= f.input :request, as: :hidden, input_html: { value: 'true' } %>
        <%= f.input :lab_owner_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.button :submit, 'Add new request' %>
      <% end %>
    </div>
    <div class="col-md-6">
        <%= will_paginate @requests %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <%= render @requests %>
            </tbody>
        <%= will_paginate @requests %>
    </div>
    <div class="col-md-3">
        <img id="barcode" role="img" alt="Click on the barcode number to see the barcode"></img>
    </div>
</div>