<tr>
  <th scope="row" class="display_barcode"><%= link_to equipment.id, equipment_path(equipment.id)%></th>
  <td><%= equipment.model %></td>
  <td><%= equipment.kind %></td>
  <% if equipment.request %>
    <td><%= equipment.lab_owner.id %></td>
    <% if equipment.approved == 'Approved' %>
      <td><span class="label label-success">Approved</span></td>
    <% elsif equipment.approved == 'Pending' %>
      <td>
        <span class="label label-warning">Pending</span>
        <% if is_super_user? %>
          <%= simple_form_for equipment do |f| %>
            <%= f.input :approved, as: :hidden, input_html: { value: 'Approved' } %>
            <%= f.button :submit, 'Approve', class: 'btn btn-xs' %>
          <% end %>
          <%= simple_form_for equipment do |f| %>
            <%= f.input :approved, as: :hidden, input_html: { value: 'Rejected' } %>
            <%= f.button :submit, 'Reject', class: 'btn btn-xs' %>
          <% end %>
        <% end %>
      </td>
    <% else %>
      <td>
        <span class="label label-danger">Rejected</span>
      </td>
    <% end %>
  <% else %>
    <td><%= equipment.location %></td>
    <% if equipment.status == 'OK' %>
      <td><span class="label label-success">OK</span></td>
    <% else %>
      <td><span class="label label-danger">Not OK</span></td>
    <% end %>
    <% if equipment.warranty_status == 'OK' %>
      <td><span class="label label-success">In Warranty</span></td>
    <% else %>
      <td><span class="label label-warning">Not in warranty</span></td>
    <% end %>
  <% end %>
</tr>