<tr class="display-request-info">
  <th scope="row" class="display_barcode">
    <% if equipment.request %>
      <%= equipment.id %>
    <% else %>
      <%= link_to equipment.id, equipment_path(equipment.id) %>
    <% end %>
  </th>
  <td><%= equipment.model %></td>
  <td><%= equipment.kind %></td>
  <% if equipment.request %>
    <% unless is_lab_owner? %>
      <td><%= equipment.lab_owner.id %></td>
    <% end %>
    <% if equipment.approved == 'Approved' %>
      <td>
        <span class="label label-success">Approved</span>
        <% if is_store_manager? %>
          <%= simple_form_for equipment do |f| %>
            <%= f.input :request, as: :hidden, input_html: { value: false } %>
            <%= f.button :submit, 'Add', class: 'btn btn-xs' %>
          <% end %>
        <% end %>
      </td>
    <% elsif equipment.approved == 'Pending' %>
      <td>
        <span class="label label-warning">Pending</span>
        <% if is_super_user? %>
          <%= simple_form_for equipment do |f| %>
            <%= f.input :approved, as: :hidden, input_html: { value: 'Approved' } %>
            <%= f.button :submit, 'Approve', class: 'btn btn-xs' %>
          <% end %>
          <%= simple_form_for equipment do |f| %>
            <%= f.input :approved, as: :hidden, input_html: { value: 'Rejected' } %>
            <%= f.button :submit, 'Reject', class: 'btn btn-xs' %>
          <% end %>
        <% end %>
      </td>
    <% else %>
      <td>
        <span class="label label-danger">Rejected</span>
      </td>
    <% end %>
  <% else %>
    <td><%= equipment.location %></td>
    <% if equipment.status == 'OK' %>
      <td><span class="label label-success">OK</span></td>
    <% else %>
      <td><span class="label label-danger">Not OK</span></td>
    <% end %>
    <% if equipment.warranty_status == 'OK' %>
      <td><span class="label label-success">In Warranty</span></td>
    <% else %>
      <td><span class="label label-warning">Not in warranty</span></td>
    <% end %>
    <% if is_lab_owner? %>
      <td>
        <%= simple_form_for @move_request do |f|%>
          <%= f.input :to_id, disabled: equipment.in_transit, input_html: { class: 'input-sm' }%>
          <%= f.input :equipment_id, as: :hidden, input_html: { value: equipment.id } %>
          <%= f.button :submit, 'Submit', class: 'btn btn-xs', disabled: equipment.in_transit %>
        <% end %>
      </td>
    <% end %>
  <% end %>
  <!--td>Move equipment</td-->
</tr>