
<h1>All requests</h1>
<div class="row">
    <!--div class="col-md-3">
      <%= simple_form_for @equipment do |f| %>
        <%= f.input :model %>
        <%= f.input :kind %>
        <%= f.input :lab_owner_id %>
        <%= f.button :submit, 'Add new equipment' %>
      <% end %>
    </div-->
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-hover" id="equipment-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Type</th>
                    <th>Lab Owner ID</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                <%= render @requests %>
            </tbody>
        </table>
    </div>
</div>