    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Equipment Tracker", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <% if user_signed_in? && current_user.type == 'LabOwner' %>
              <li>
                <%= link_to('Dashboard', lab_owner_path(current_user)) %>  
              </li>
              <li>
                <%= link_to('Logout', destroy_lab_owner_session_path, :method => :delete) %>  
              </li>
            <% elsif user_signed_in? && current_user.type == 'StoreManager' %>
              <li>
                <%= link_to('Dashboard', store_manager_path(current_user)) %>  
              </li>
              <li>
              <%= link_to('Logout', destroy_store_manager_session_path, :method => :delete) %>  
              </li>
            <% else %>
              <li>
              <%= link_to('Login', new_user_session_path)  %>  
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>